---
import { type CollectionEntry } from 'astro:content';
import Layout from '@/layouts/Body.astro';
import FormattedDate from '@/components/FormattedDate.astro';
import { getBlogCollection } from '@/utils';

interface Props {
	post: CollectionEntry<'blog'>;
	next: CollectionEntry<'blog'> | undefined;
	prev: CollectionEntry<'blog'> | undefined;
}

export async function getStaticPaths() {
	const posts = await getBlogCollection()
	return posts.map((post, index) => ({
		params: { slug: post.slug },
		props: { post, next: posts[index+1], prev: posts[index-1] },
	}));
}

const { post } = Astro.props;

const { Content } = await post.render();

const page = {
	title: post.data.title,
	description: post.data.summary,
}
---

<Layout {...page}>
	<article>
		<header>
			<h1>{post.data.title}</h1>
			<FormattedDate date={post.data.datePub } />
		</header>
		<div class="Prose">
			<Content />
		</div>
	</article>
</Layout>
