:root {
	--viewport-xs: 360px;
	--viewport-sm: 480px;
	--viewport-md: 768px;
	--viewport-lg: 1024px;
	--viewport-xl: 1440px;
	--viewport-xxl: 1920px;

	--container-padding-inline: var(--size-4);

	@media (width >= 768px) {
		--container-padding-inline: var(--size-6);
	}

	@media (width >= 1024px) {
		--container-padding-inline: var(--size-8);
	}
}

.Container-xl {
	margin: 0 auto;
	padding-inline: var(--container-padding-inline);
	max-width: calc(var(--viewport-xl) + var(--container-padding-inline) * 2);
}

.Container-lg {
	margin: 0 auto;
	padding-inline: var(--container-padding-inline);
	max-width: calc(var(--viewport-lg) + var(--container-padding-inline) * 2);
}

.Container-md {
	margin: 0 auto;
	padding-inline: var(--container-padding-inline);
	max-width: calc(var(--viewport-md) + var(--container-padding-inline) * 2);
}
