:root {
	--size-1: 0.25rem; /* 4px */
	--size-2: 0.5rem; /* 8px */
	--size-3: 0.75rem; /* 12px */
	--size-4: 1rem; /* 16px */
	--size-5: 1.25rem; /* 20px */
	--size-6: 1.5rem; /* 24px */
	--size-7: 2rem; /* 32px */
	--size-8: 2.5rem; /* 40px */
	--size-9: 3rem; /* 48px */
	--size-10: 4rem; /* 64px */	
	--size-11: 5rem; /* 80px */
	--size-12: 6rem; /* 96px */
}