---
import { getSectionFromURL } from '@/utils';
import Icon from '@/components/Icon.astro';

const currentSection = getSectionFromURL(Astro.url);

const menu = [
  { name: 'Home', href: '/' },
  { name: 'Blog', href: '/blog' },
  { name: 'Contact', href: '/contact' },
]
---

<nav>
	<ul class="menu-desktop">
		{menu.map((item) => (
			<li class:list={[{ "is-active": currentSection === item.href }]}>
				<a href={item.href} data-astro-prefetch="viewport">{item.name}</a>
			</li>
		))}
	</ul>

	<details class="menu-mobile">
		<summary aria-label="Menu">
			<Icon name='menu'/>
		</summary>
		<ul>
			{menu.map((item) => (
				<li class:list={[{ "is-active": currentSection === item.href }]}>
					<a href={item.href} data-astro-prefetch="viewport">{item.name}</a>
				</li>
			))}
		</ul>
	</details>
</nav>

<style>
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	.is-active {
		font-weight: bold;
	}

	.menu-desktop {
		display: flex;
		gap: 1rem;
		@media (width < 768px) {
			display: none;
		}
	}

	.menu-mobile {
		@media (width >= 768px) {
			display: none;
		}
	}


</style>