---
import { SITE } from '@/consts'

import '@barcia/corecss/dist/core.css'
import '@/assets/css/index.css'
import Head from '@/components/Head.astro'
import Navbar from '@/components/Navbar.astro'
import Footer from '@/components/Footer.astro'

interface Props {
	title?: string
	description?: string
}

const { title = SITE.title, description = SITE.description } = Astro.props
---

<html lang={SITE.lang}>
	<Head title={title} description={description} />
	<slot name="head" slot="head" />
	<body>
		<div class="Wrapper Container-md">
			<Navbar />
			<main>
				<slot />
			</main>
			<Footer />
		</div>
	</body>
</html>

<style>
	.Wrapper {
		display: flex;
		flex-direction: column;
		min-height: 100dvh;
	}
</style>
